@media screen and (max-width: 1600px) {
    header {
        .scroll-show {
            .secondary-alphabet {
                width: 50%;
                left: 19%;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    header {
        .scroll-show {
            .secondary-alphabet {
                width: 40%;
                left: 18%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    header {
        .scroll-show {
            .secondary-alphabet {
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        .scroll-show {
            display: none;
        }
    }
}

@media screen and (max-width: 880px) {
    .mode-button {
        display: none;
    }

    header {
        width: 90vw;

        .contribute {
            display: none;
        }

        .right-nav {
            display: flex;
        }

        .contribute-mobile {
            display: block;
        }

        .subcopy {
            width: 100%;
            top: 22vh;
            margin-bottom: 0;
            text-align: center;
        }

        .heading {
            height: 45vw;

            & .site-logo {
                left: 5%;
                transform: translateX(-56%);
            }
        }

        .searchbar {
            flex-direction: column;
            justify-content: space-between;
            width: 60vw;
            height: 10vw;
            min-width: 0;
            right: 50%;
            transform: translateX(50%);
            bottom: 3vw;

            .search {
                width: 100%;
                margin-left: -1.2%;
                min-width: 0;

                & select {
                    text-align: center;
                }

                & input {
                    padding: .6em 0 .5em 1em;
                    width: 100%;
                    margin-top: 2%;
                    border-radius: 5px;
                    margin-left: 5px;
                }

                .results {
                    top: 65px;
                }
            }

            .select {
                width: 100%;

                & select {
                    border-radius: 5px;
                }
            }
        }

        h1 {
            top: 10vw;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .heading {
            height: 80vw;
        }

        .searchbar {
            bottom: 18vw;
            width: 74vw;

            .search {
                margin-left: -2%;

                & input {
                    font-size: 16px;
                    padding: .45em 0 .3em 1em;
                }

                .results {
                    right: 50%;
                    transform: translateX(60%);
                }
            }

            .select {
                & select {
                    font-size: 16px;
                }
            }
        }

        h1 {
            top: 20vw;
            font-size: 16px;
        }
    }
}
