@media screen and (max-width: 880px) {
    header{
        width: 90vw;
        .heading {
            height: 40vw;

            & .site-logo {
                left: 50%;
                transform: translateX(-56%);
            }
        }
        .searchbar {
            flex-direction: column;
            justify-content: space-between;
            width: 60vw;
            height: 10vw;
            min-width: 0;
            right: 50%;
            transform: translateX(50%);
            bottom: 3vw;
    
            .search {
                width: 100%;
                margin-left: -1.2%;
                min-width: 0;

                & select {
                    text-align: center;
                }

                & input {
                    padding: .6em 0 .5em 1em;
                    width: 100%;
                    margin-top: 2%;
                }
                .results {
                    top: 65px;
                }
            }
    
            .select {
                width: 100%;
            } 
        }
        h1 {
            top: 10vw;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
        }

    }
}

@media screen and (max-width: 600px) {
    header{
        .heading {
            height: 80vw;
        }
        .searchbar {
            bottom: 18vw;
            width: 74vw;
            .search {
                margin-left: -2%;

                & input {
                    font-size: 16px;
                    padding: .45em 0 .3em 1em;
                }
                .results {
                    right: 50%;
                    transform: translateX(60%);
                }
            }
            .select {
                & select {
                    font-size: 16px;
                }
            } 
        }
        h1 {
            top: 20vw;
            font-size: 16px;
        }

    }
}