@media screen and (max-width: 1215px){
    .logo {
        width: 33.333333%;
    
        &__download {
            &__overlay {
                a {
                    font-size: 80%;
                }
            }
        }
    } 
}

@media screen and (max-width: 650px){
    body {
        font-size: 85%;
    }

    .logo {
        width: 50%; 

        &__download {
            &__overlay {
                a {
                    font-size: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .logo {
        &__download {
            &__overlay {
                a {
                    font-size: 70%;
                }
                &--svg, &--png {
                    padding: 10%;

                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px){
    .logo {
        &__download {
            &__overlay {
                a {
                    font-size: 65%;
                }
                &--svg, &--png {
                    padding: 5% 2%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    body {
        font-size: 60%;
    }
}

@media screen and (max-width: 600px) {
    .companies-alphabet-title {
        margin: 10% auto 0;
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .companies-alphabet {
        clear: both;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .companies-alphabet-letter-list {
        -webkit-column-count: 2;
        column-count: 2
    }

    .companies-alphabet-link {
        display: block;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 44px;
        flex: 0 0 44px;
        text-align: center
    }
}