@media screen and (max-width: 1215px){
    .logo {
        width: calc(33.333333% - 20px); //20px accounts for the margin
    }
}

@media screen and (max-width: 650px){
    body {
        font-size: 85%;
    }

    .logo {
        width: calc(50% - 20px); //20px accounts for the margin
    }
}

@media screen and (max-width: 450px){
    body {
        font-size: 60%;
    }
}