@media screen and (max-width: 1215px){
    .logo {
        width: 33.333333%; 
    }
}

@media screen and (max-width: 650px){
    body {
        font-size: 85%;
    }

    .logo {
        width: 50%; 
    }
}

@media screen and (max-width: 450px){
    body {
        font-size: 60%;
    }
}