$col-green-1: #06DAAF;
$col-green-2: #F8FFFD;

$col-grey-1: #576F7F;
$col-grey-2: #74848A;
$col-grey-3: #C4C4C4;
$col-grey-4: #F9F9F9;

$col-white: #FFFFFF;

/* dm -Dark Mode */
$dm-fg-color-1: #e5e0d8;
$dm-fg-color-2: #a59d8f;
$dm-fg-color-3: #9a9081;
$dm-bg-color-1: #5b5f13;
$dm-bg-color-2: #15539c;
$dm-bg-color-3: #0b0c0c;
$dm-bg-color-4: #20a788;
$dm-bg-color-5: #242525;
$dm-bg-color-6: #272828;
$dm-ph-color: #b2aa9e;
$dm-border-color-1: #776f62;
$dm-border-color-2: #21af8e;
$dm-border-color-3: #4a4d4e;
$dm-outline-color-1: #16694e;
$dm-outline-color-2: #21af8e;
$dm-tdecor-color-1: #4febc7;
$dm-tdecor-color-2: #21af8e;
