.background {
    width: 100vw;
    height: 100vh;
    background-color: $col-white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &__left {
        height: 100vh;
        position: relative;

        &--thin {
            background-color: $col-green-1;
            width: 0.7%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__stripes {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
    }

    &__stripe {
        border-right: .035rem $col-grey-3;
        opacity: .6;
        width: 100%;
        height: 100%;
        border-right-style: dashed;

        &:nth-child(even) {
            border-right-style: solid;
            opacity: .45;
        }

    }
}
