footer {
    text-align: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 1% 2%;
}
.to-top {
    &__bg {
        box-sizing: border-box;
        position: relative;
        width: 80px;
        height: 80px;
        background-color: $col-white;
        border: 3px solid $col-green-1;
        border-radius: 100px;
        transition: .2s all ease-in-out;
    }
    &__icon {
        position: relative;
        width: 3px;
        height: 30px;
        background-color: $col-green-1;
        margin-top: 50%; margin-left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100px;

        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 20px;
            background-color: inherit;
            transform: rotate(45deg);
            border-radius: 1000px;
            right: 6px;
            top: -3px;
        }
        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 20px;
            background-color: inherit;
            transform: rotate(-45deg);
            border-radius: 100px;
            left: 6px;
            top: -3px;
        }
    }
    &:hover{
        & > .to-top__bg {
            background-color: $col-green-1;
        }
        & > .to-top__bg >  .to-top__icon {
            background-color: $col-white;
        }
    }
}
.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $col-green-2;
    width: 100vw;
    height: 70px;
    color: $col-grey-1;
    position: fixed;
    font-size: 140%;
    left: 0;
    bottom: 0;
    border-left: 3px solid $col-green-1;
    display: none;

    .up-arrow {
        width: 1px;
        height: 10px;
        background-color: $col-green-1;
        margin-right: 10px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 1px;
            height: 6px;
            background-color: inherit;
            transform: rotate(45deg);
            right: 190%;
            bottom: 48%;
        }
        &::after {
            position: absolute;
            content: '';
            width: 1px;
            height: 6px;
            background-color: inherit;
            transform: rotate(-45deg);
            left: 190%;
            bottom: 48%;
        }
    }
}