header{
    .heading{
        display: flex;
        flex-direction: column;
        width: 29.5vw;
        margin-left: 13%;
        margin-top: 6.3vh;

        & .logo{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-color: $col-green-1;
            margin-bottom: 3.6vh;
        }
    }
    h1{
        font-weight: $fw-medium;
        font-size: 150%;

        & a{
            color: inherit;
            text-decoration-color: $col-green-1;
        }
    }
}