header {
    width: 75vw;
    margin: 5% auto;

    .heading {
        width: 76.2vw;
        height: 20vh;
        margin: 0 auto;
        position: relative;

        & .site-logo {
            width: 5vh;
            position: absolute;
            top: 0;
            left: 0;

            & img {
                width: 100%;
            }
        }
    }
    .searchbar {
        display: flex;
        width: 35.9vw;
        min-width: 550px;
        height: 4.5vh;
        font-family: inherit;
        position: absolute;
        right: 1.5%;

        .search {
            width: 65%;
            position: relative;

            & input {
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                outline: none;
                border: none;
                box-sizing: border-box;
                border: 1px solid $col-green-1;
                width: 100%;
                height: 100%;
                border-radius: .2em;
                line-height: 1.3;
                margin: 0;
                font-size: 16px;
                font-family: inherit;
                background-color: $col-green-2;
                background-image: url('/images/icons/search.svg');
                background-repeat: no-repeat;
                background-position: right 1em top 50%;
                background-size: 1em auto;
                padding-left: 1em;
                margin-left: 5px;
            }

            .results {
                background-color: $col-green-2;
                position: absolute;
                bottom: -50px; // fix for results div touching search bar on some screens
                right: -1%;
                border: 1px solid $col-green-1;
                border-radius: 4px;
                padding: .3rem .5rem;
                color: $col-green-1;

                & span {
                    font-weight: $fw-medium;
                    color: $col-grey-1;
                }
            }
        }
        .select{
            width: calc(35% - 5px); // account for the margin on the input

            & select {
                cursor: pointer;
                font-size: 16px; // iOS Safari zooms in if less than 16px causing weird issues
                font-family: inherit;
                color: $col-white;
                padding: .2em .6em; // fix for category text being cut halfway
                line-height: 1.3;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                margin: 0;
                border-radius: .2em;
                border-color: $col-green-1;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color: $col-green-1;
                background-image: url('/images/dropdown_button.svg'), linear-gradient($col-green-1, $col-green-1);
                background-repeat: no-repeat;
                background-position: right .7em top 50%;
                background-size: .65em auto;
    
                &::-ms-expand {
                    display: none;
                }
                &:focus,
                &:active {
                    border-color: $col-green-2;
                    outline: none;
                }
            }
        }
    }
    h1 {
        font-weight: $fw-medium;
        font-size: 150%;
        min-width: 500px;
        position: absolute;
        left: 0;
        top: 10vh;

        & a {
            color: inherit;
            text-decoration-color: $col-green-1;

            &:hover{
                text-decoration-color: inherit;
            }
        }
    }
    .visuallyhidden{
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
}