header {
    width: 75vw;
    margin: 3% auto;
    overflow-x: hidden;

    .heading {
        width: 76.2vw;
        height: 33vh;
        min-height: 300px;
        margin: 0 auto;
        position: relative;

        & .site-logo {
            width: 5vh;
            position: absolute;
            top: 0;
            left: 0;

            & img {
                width: 100%;
                min-width: 50px;
                min-height: 50px;
            }
        }
    }

    .searchbar {
        display: flex;
        width: 35.9vw;
        min-width: 550px;
        height: 4.5vh;
        font-family: inherit;
        position: absolute;
        right: 1.5%;

        .search {
            width: 65%;
            position: relative;

            & input {
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                outline: none;
                border: none;
                box-sizing: border-box;
                border: 1px solid $col-green-1;
                width: 100%;
                height: 40px;
                border-top-right-radius: .2em;
                border-bottom-right-radius: .2em;
                line-height: 1.3;
                margin: 0;
                font-size: 16px;
                font-family: inherit;
                background-color: $col-green-2;
                background-image: url('../images/icons/search.svg');
                background-repeat: no-repeat;
                background-position: right 1em top 50%;
                background-size: 1em auto;
                padding-left: 1em;
            }
        }

        .select {
            width: calc(35% - 2px); // account for the margin on the input

            & select {
                cursor: pointer;
                font-size: 16px; // iOS Safari zooms in if less than 16px causing weird issues
                font-family: inherit;
                color: $col-white;
                padding: .2em 1em; // fix for category text being cut halfway
                line-height: 1.3;
                height: 40px;
                width: 100%;
                box-sizing: border-box;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin: 0;
                border-color: $col-green-1;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-color: $col-green-1;
                background-image: url('../images/icons/dropdown_button.svg'), linear-gradient($col-green-1, $col-green-1);
                background-repeat: no-repeat;
                background-position: right .7em top 50%;
                background-size: .65em auto;

                &::-ms-expand {
                    display: none;
                }

                &:focus,
                &:active {
                    outline: $col-green-2;
                }
            }
        }
    }

    h1 {
        min-width: 500px;
        position: absolute;
        left: 0;
        top: 10vh;

        & a {
            color: inherit;
            text-decoration-color: $col-green-1;

            &:hover {
                text-decoration-color: inherit;
            }
        }
    }

    .visuallyhidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    .subcopy {
        position: absolute;
        // top: 22vh;
        bottom: 0;
        margin-bottom: 80px;
    }

    .mode-button {
        margin-left: 10px;
        padding: 2px 5px;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 2px;
        transition: .2s all ease-in-out;

        &.dark {
            .icon {
                &.dark-mode {
                    display: inline;
                }
            }
        }

        &.light {
            .icon {
                &.light-mode {
                    display: inline;
                }
            }
        }

        &.system {
            .icon {
                &.system-mode {
                    display: inline;
                }
            }
        }

        .icon {
            width: 1em;
            display: inline;
            margin-right: 5px;
            position: relative;
            top: 0.15em;
            display: none;
        }
    }

    .contribute {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        margin-bottom: 15px;
        background-color: $col-green-1;
        color: $col-white;
        font-size: inherit;
        padding: 1% 2%;
        outline: none;
        border: none;
        border-radius: 4px;
        transition: .2s all ease-in-out;
    }

    .white-bg {
        width: 100%;
        height: 10%;
        background-color: $col-white;
        position: fixed;
        top: 0;
        z-index: 665;
        transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .scroll-show {
        height: 90px;
        position: absolute;

        & .site-logo {
            position: fixed;
            top: 0;
            z-index: 666;
            transform: scale(.6) translateX(-35%);
            transition: all .2s ease-in-out;
        }

        & .searchbar {
            position: fixed;
            top: 25px;
            right: 12.5%;
            z-index: 666;
            transition: all .2s ease-in-out;

            & input {
                position: absolute;
                right: 0;
                width: 55%;
                min-width: 240px;
                transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }

            & input:focus {
                width: 100%;
            }
        }

        & .select {
            transform: translateX(100%);
            transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &::before {
                content: '...';
                position: absolute;
                left: -36px;
                width: 35px;
                height: 40px;
                text-align: center;
                line-height: 30px;
                background-color: $col-white;

            }
        }

        .secondary-alphabet {
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 53%;
            top: 35px;
            left: 18%;
            z-index: 668;

            & a {
                text-decoration: none;
                color: inherit;
                opacity: .7;
                font-size: 90%;
            }
        }
    }

    .right-nav {
        position: absolute;
        top: 4.5%;
        right: 8%;
        display: none;

        .mode-button-mobile {
            margin-right: 5px;
            padding: 2px 5px;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 2px;
            transition: .2s all ease-in-out;

            &.dark {
                .icon {
                    &.dark-mode {
                        display: inline;
                    }
                }
            }

            &.light {
                .icon {
                    &.light-mode {
                        display: inline;
                    }
                }
            }

            &.system {
                .icon {
                    &.system-mode {
                        display: inline;
                    }
                }
            }

            .icon {
                width: 1em;
                display: inline;
                position: relative;
                top: 0.15em;
                display: none;
            }
        }

        .contribute-mobile {
            color: $col-grey-1;
            text-decoration-color: $col-green-1;
            font-size: 150%;
        }
    }
}
