body.dark-mode {
    border-color: $dm-border-color-1;
    color: $dm-fg-color-1;
}

.dark-mode {
    ::placeholder {
        color: $dm-ph-color;
    }

    input {
        color: $dm-fg-color-1;

        &:-webkit-autofill {
            background-color: $dm-bg-color-1 !important;
            color: $dm-fg-color-1 !important;
        }
    }

    select {
        &:-webkit-autofill {
            background-color: $dm-bg-color-1 !important;
            color: $dm-fg-color-1 !important;
        }
    }

    &::selection {
        background-color: $dm-bg-color-2 !important;
        color: $dm-fg-color-1 !important;
    }

    &::-moz-selection {
        background-color: $dm-bg-color-2 !important;
        color: $dm-fg-color-1 !important;
    }

    header {
        .searchbar {
            .search {
                input {
                    outline-color: initial;
                    border-color: $dm-border-color-2;
                    background-color: $dm-bg-color-3;
                    background-image: url(../images/icons/search.svg);
                }
            }

            .select {
                select {
                    color: $dm-fg-color-1;
                    border-color: $dm-border-color-2;
                    background-color: $dm-bg-color-4;
                    background-image: url(../images/icons/dropdown_button.svg);

                    &:focus {
                        outline-color: $dm-outline-color-1;
                    }

                    &:active {
                        outline-color: $dm-outline-color-1;
                    }
                }
            }
        }

        h1 {
            a {
                color: inherit;
                text-decoration-color: $dm-tdecor-color-1;

                &:hover {
                    text-decoration-color: inherit;
                }
            }
        }

        .visuallyhidden {
            border-color: initial;
        }

        .mode-button,
        .mode-button-mobile {
            border-color: $dm-border-color-2;
            background-color: $dm-bg-color-4;
            color: $dm-fg-color-1;
        }

        .contribute {
            background-color: $dm-bg-color-4;
            color: $dm-fg-color-1;
            outline-color: initial;
            border-color: initial;
        }

        .white-bg {
            background-color: $dm-bg-color-5;
        }

        .scroll-show {
            .select {
                &::before {
                    background-color: $dm-bg-color-5;
                }
            }

            .secondary-alphabet {
                a {
                    text-decoration-color: initial;
                    color: inherit;
                }
            }
        }

        .contribute-mobile {
            color: $dm-fg-color-2;
            text-decoration-color: $dm-tdecor-color-1;
        }
    }

    .background {
        background-color: $dm-bg-color-5;
    }

    .background__left--thin {
        background-color: $dm-bg-color-4;
    }

    .background__left--thick {
        background-color: $dm-bg-color-3;
    }

    .background__stripe {
        border-right-color: $dm-border-color-3;
    }

    .to-top__bg {
        background-color: $dm-bg-color-5;
        border-color: $dm-border-color-2;
    }

    .to-top__icon {
        background-color: $dm-bg-color-4;

        &::after {
            background-color: inherit;
        }

        &::before {
            background-color: inherit;
        }
    }

    .to-top {
        &:hover {
            >.to-top__bg {
                background-color: $dm-bg-color-4;

                >.to-top__icon {
                    background-color: $dm-bg-color-5;
                }
            }
        }
    }

    .back-to-top {
        background-color: $dm-bg-color-3;
        color: $dm-fg-color-2;
        border-left-color: $dm-border-color-2;

        .up-arrow {
            background-color: $dm-bg-color-4;

            &::before {
                background-color: inherit;
            }

            &::after {
                background-color: inherit;
            }
        }
    }

    .logo {
        border-color: transparent;
    }

    .logo__holder {
        background-color: $dm-bg-color-6;
    }

    .logo__text--link {
        color: inherit;
        text-decoration-color: initial;

        &:hover {
            text-decoration-color: initial;
        }
    }

    .logo__download__overlay {
        background-color: $dm-bg-color-3;
        border-color: $dm-border-color-2;

        a {
            color: inherit;
            text-decoration-color: initial;
        }
    }

    .logo__download__overlay--svg {
        background-color: transparent;

        &:hover {
            color: $dm-fg-color-1;
            background-color: $dm-bg-color-4;
        }
    }

    .logo__download__overlay--png {
        background-color: transparent;

        &:hover {
            color: $dm-fg-color-1;
            background-color: $dm-bg-color-4;
        }
    }

    .totopbutton {
        border-color: initial;
        color: $dm-fg-color-1;
        background-color: $dm-bg-color-4;
    }

    .companies-alphabet {
        border-bottom-color: $dm-border-color-3;
    }

    .companies-alphabet-link {
        text-decoration-color: initial;
    }

    a.companies-alphabet-link {
        color: $dm-fg-color-2;
    }

    .result {
        color: $dm-fg-color-3;
    }

    .typed {
        color: $dm-fg-color-2;
    }

    @media screen and (max-width: 880px) {
        .companies-alphabet {
            border-bottom-color: initial;
        }
    }
}
