main {
    width: 76.2vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10%;
}
.logo {
    width: 17.6vw;
    margin-top: 5%;

    &__holder {
        border-radius: 4px;
        width: 100%;
        height: 17.6vw;
        background-color: $col-grey-4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        &:hover > .logo__download{
            opacity: 1;
        }
    }

    &__image img {
        width: 70%;
    }

    &__text {
        width: 100%;
        overflow-x: hidden;

        &--primary { 
            font-weight: $fw-medium;
            margin-top: 3%;
        }
        &--secondary {
            font-size: 80%;
        }
    }

    &__download {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all .2s ease-in-out;

        &__overlay {
            width: 100%;
            height: 100%;
            background-color: $col-green-2;
            border: 1px solid $col-green-1;
            border-radius: 4px;

            a{
                color: inherit;
                transition: all .5s ease-in-out;

                &:first-of-type > span {
                    transform: translateY(25%);
                }
                &:last-of-type > span {
                    transform: translateY(-25%);
                }

                &:hover{ 
                    text-decoration: none;
                    font-weight: $fw-medium;
                    color: $col-grey-2;
                }
            }

            &--svg, &--png {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}