main {
    width: calc(76.2vw + 20px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10%;

    &::after {
        content: "";
        flex: auto;
      }
}
.logo {
    box-sizing: border-box;
    width: 25%;
    border: 20px solid transparent;
    margin-top: 8%;

    &__holder {
        border-radius: 4px;
        width: 100%;
        background-color: $col-grey-4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 100%; 	
        }

        &:hover > .logo__download {
            opacity: 1;
        }
    }

    &__image img {
        width: 70%;
    }

    &__text {
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;

        &--primary { 
            font-weight: $fw-medium;
            font-size: 115%;
            margin-top: 5%;

            &:hover {
                overflow-x: scroll;
            }
        }
        &--secondary {
            font-size: 80%;
            margin-top: 2%;
        }
    }

    &__download {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all .2s ease-in-out;

        &__overlay {
            width: 100%;
            height: 100%;
            background-color: $col-green-2;
            border: 1px solid $col-green-1;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a{
                color: inherit;
                transition: all .5s ease-in-out;

                // &:first-of-type > span {
                //     transform: translateY(25%);
                // }
                // &:last-of-type > span {
                //     transform: translateY(-25%);
                // }

                &:hover{ 
                    text-decoration: none;
                    font-weight: $fw-medium;
                    color: $col-grey-2;
                }
            }

            &--svg, &--png {
                padding: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform .15s ease-out;

                &:hover {
                    background-color: #fff;
                    transform: scale(1.1);
                }
            }
        }
    }
}