*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    box-sizing: inherit;
    overflow-x: hidden;
    width: 100vw;
    font-kerning: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
::selection {
    background-color: $col-green-1;
    color: $col-white;
}