@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

body {
    font-family: $ff-main;
    line-height: normal;
    color: $col-grey-1;
}

button {
    font-family: $ff-main;
    line-height: normal;
}

h1 {
    font-weight: 500;
    font-size: 150%;
}